In [1]:
import pandas as pd

In [3]:
a = pd.read_csv("Emissions_Totals_E_All_Data/Emissions_Totals_E_All_Data_NOFLAG.csv", encoding='latin-1')

In [4]:
print(a.head(5))

   Area Code Area Code (M49)         Area  Item Code           Item
0          2            '004  Afghanistan       5064  Crop Residues  \
1          2            '004  Afghanistan       5064  Crop Residues
2          2            '004  Afghanistan       5064  Crop Residues
3          2            '004  Afghanistan       5064  Crop Residues
4          2            '004  Afghanistan       5064  Crop Residues

   Element Code                           Element  Source Code      Source
0          7234            Direct emissions (N2O)         3050  FAO TIER 1  \
1          7236          Indirect emissions (N2O)         3050  FAO TIER 1
2          7230                   Emissions (N2O)         3050  FAO TIER 1
3        724313  Emissions (CO2eq) from N2O (AR5)         3050  FAO TIER 1
4        723113           Emissions (CO2eq) (AR5)         3050  FAO TIER 1

         Unit  ...     Y2014     Y2015     Y2016     Y2017     Y2018
0  kilotonnes  ...    1.4584    1.2424    1.1940    1.0617    0.8988  \
1  kilotonnes  ...    0.3281    0.2795    0.2687    0.2389    0.2022
2  kilotonnes  ...    1.7865    1.5220    1.4627    1.3005    1.1011
3  kilotonnes  ...  473.4174  403.3181  387.6130  344.6447  291.7838
4  kilotonnes  ...  473.4174  403.3181  387.6130  344.6447  291.7838

      Y2019     Y2020  Y2021     Y2030     Y2050
0    1.2176    1.3170    NaN    1.5337    1.9389
1    0.2740    0.2963    NaN    0.3451    0.4362
2    1.4916    1.6133    NaN    1.8788    2.3751
3  395.2689  427.5284    NaN  497.8929  629.4047
4  395.2689  427.5284    NaN  497.8929  629.4047

[5 rows x 73 columns]

In [5]:
print(a.columns)

Index(['Area Code', 'Area Code (M49)', 'Area', 'Item Code', 'Item',
       'Element Code', 'Element', 'Source Code', 'Source', 'Unit', 'Y1961',
       'Y1962', 'Y1963', 'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969',
       'Y1970', 'Y1971', 'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977',
       'Y1978', 'Y1979', 'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985',
       'Y1986', 'Y1987', 'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993',
       'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001',
       'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009',
       'Y2010', 'Y2011', 'Y2012', 'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017',
       'Y2018', 'Y2019', 'Y2020', 'Y2021', 'Y2030', 'Y2050'],
      dtype='object')

In [6]:
for year in range(1961, 2051):
    col = 'Y' + str(year)
    if col in a.columns:
        a[col] = a[col].fillna(0)
print(a.head(5))

   Area Code Area Code (M49)         Area  Item Code           Item
0          2            '004  Afghanistan       5064  Crop Residues  \
1          2            '004  Afghanistan       5064  Crop Residues
2          2            '004  Afghanistan       5064  Crop Residues
3          2            '004  Afghanistan       5064  Crop Residues
4          2            '004  Afghanistan       5064  Crop Residues

   Element Code                           Element  Source Code      Source
0          7234            Direct emissions (N2O)         3050  FAO TIER 1  \
1          7236          Indirect emissions (N2O)         3050  FAO TIER 1
2          7230                   Emissions (N2O)         3050  FAO TIER 1
3        724313  Emissions (CO2eq) from N2O (AR5)         3050  FAO TIER 1
4        723113           Emissions (CO2eq) (AR5)         3050  FAO TIER 1

         Unit  ...     Y2014     Y2015     Y2016     Y2017     Y2018
0  kilotonnes  ...    1.4584    1.2424    1.1940    1.0617    0.8988  \
1  kilotonnes  ...    0.3281    0.2795    0.2687    0.2389    0.2022
2  kilotonnes  ...    1.7865    1.5220    1.4627    1.3005    1.1011
3  kilotonnes  ...  473.4174  403.3181  387.6130  344.6447  291.7838
4  kilotonnes  ...  473.4174  403.3181  387.6130  344.6447  291.7838

      Y2019     Y2020  Y2021     Y2030     Y2050
0    1.2176    1.3170    0.0    1.5337    1.9389
1    0.2740    0.2963    0.0    0.3451    0.4362
2    1.4916    1.6133    0.0    1.8788    2.3751
3  395.2689  427.5284    0.0  497.8929  629.4047
4  395.2689  427.5284    0.0  497.8929  629.4047

[5 rows x 73 columns]

In [7]:
emission_types = a['Element'].unique()
areas = a['Area'].unique()
store = dict()
store['Year'] = list()
store['Area'] = list()
for emission in emission_types:
    store[emission] = list()
    for year in range(1961, 2022):
        for area in areas:
            store[emission].append(a[(a['Element'] == emission) & (a['Area'] == area)]['Y'+str(year)].sum())
for year in range(1961, 2022):
    for area in areas:
        store['Year'].append(year)
        store['Area'].append(area)
df = pd.DataFrame(store)
print(df.head(10))
df.to_csv('emissions.csv', index = False)

   Year                 Area  Direct emissions (N2O)
0  1961          Afghanistan                 21.8736  \
1  1961              Albania                  3.9843
2  1961              Algeria                  9.7247
3  1961       American Samoa                  0.0000
4  1961              Andorra                  0.0000
5  1961               Angola                  6.3385
6  1961             Anguilla                  0.0000
7  1961  Antigua and Barbuda                  0.0354
8  1961            Argentina                214.1745
9  1961              Armenia                  0.0000

   Indirect emissions (N2O)  Emissions (N2O)
0                    8.1051          30.9886  \
1                    1.4871           6.1116
2                    3.2707          13.1718
3                    0.0000           0.0000
4                    0.0000           0.0000
5                    1.5096           8.2382
6                    0.0000           0.0000
7                    0.0110           0.0487
8                   55.8230         273.5718
9                    0.0000           0.0000

   Emissions (CO2eq) from N2O (AR5)  Emissions (CO2eq) (AR5)  Emissions (CH4)
0                         8211.9624               24215.6035         571.5586  \
1                         1619.5793                4924.1906         118.0218
2                         3490.5293                7818.6921         154.5773
3                            0.0008                   0.0036           0.0002
4                            0.0000                   0.0000           0.0000
5                         2183.1586                5439.8787         116.3113
6                            0.0000                   0.0000           0.0000
7                           12.9290                  39.7855           0.9591
8                        72496.5630              232903.0485        5728.8030
9                            0.0000                   0.0000           0.0000

   Emissions (CO2eq) from CH4 (AR5)  Emissions (CO2)
0                        16003.6411              0.0  \
1                         3304.6112              0.0
2                         4328.1629              0.0
3                            0.0030              0.0
4                            0.0000              0.0
5                         3256.7200              0.0
6                            0.0000              0.0
7                           26.8564              0.0
8                       160406.4854              0.0
9                            0.0000              0.0

   Emissions (CO2eq) from F-gases (AR5)
0                                   0.0
1                                   0.0
2                                   0.0
3                                   0.0
4                                   0.0
5                                   0.0
6                                   0.0
7                                   0.0
8                                   0.0
9                                   0.0

In [23]:
store = dict()
store['Year'] = list()
store['Annual Anomaly'] = list()
store['Annual Unc.'] = list()
with open('Land_and_Ocean_summary.txt') as f:
    for line in f:
        if not line.startswith("%") and len(line.strip()) != 0:
            l = line.split(" ")
            res = list()
            for ele in l:
                if ele.strip() != "":
                    res.append(ele)
            store['Year'].append(res[0])
            store['Annual Anomaly'].append(res[1])
            store['Annual Unc.'].append(res[2])
f.close()
df_temp = pd.DataFrame(store)
df_temp = df_temp.set_index('Year')
print(df_temp.head(5))
df_temp.to_csv('temperatures.csv')

     Annual Anomaly Annual Unc.
Year
1850         -0.452       0.194
1851         -0.334       0.191
1852         -0.309       0.200
1853         -0.312       0.171
1854         -0.299       0.146

In [1]:
import pandas as pd
emi = pd.read_csv("emissions.csv")
emi

,Year,Area,Direct emissions (N2O),Indirect emissions (N2O),Emissions (N2O),Emissions (CO2eq) from N2O (AR5),Emissions (CO2eq) (AR5),Emissions (CH4),Emissions (CO2eq) from CH4 (AR5),Emissions (CO2),Emissions (CO2eq) from F-gases (AR5)
0,1961,Afghanistan,21.8736,8.1051,30.9886,8211.9624,24215.6035,571.5586,16003.6411,0.0,0.0
1,1961,Albania,3.9843,1.4871,6.1116,1619.5793,4924.1906,118.0218,3304.6112,0.0,0.0
2,1961,Algeria,9.7247,3.2707,13.1718,3490.5293,7818.6921,154.5773,4328.1629,0.0,0.0
3,1961,American Samoa,0.0000,0.0000,0.0000,0.0008,0.0036,0.0002,0.0030,0.0,0.0
4,1961,Andorra,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
17075,2021,Low Income Food Deficit Countries,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0
17076,2021,Net Food Importing Developing Countries,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0
17077,2021,Annex I countries,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0
17078,2021,Non-Annex I countries,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0
17079,2021,OECD,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0

In [8]:
emi['Area'] = emi['Area'].str.replace(",","")
emi[emi['Area'] == 'China Hong Kong SAR']

,Year,Area,Direct emissions (N2O),Indirect emissions (N2O),Emissions (N2O),Emissions (CO2eq) from N2O (AR5),Emissions (CO2eq) (AR5),Emissions (CH4),Emissions (CO2eq) from CH4 (AR5),Emissions (CO2),Emissions (CO2eq) from F-gases (AR5)
44,1961,China Hong Kong SAR,0.1956,0.0585,0.3259,86.3855,366.7311,10.0124,280.3456,0.0000,0.0000
324,1962,China Hong Kong SAR,0.2061,0.0645,0.3602,95.4710,370.2162,9.8124,274.7452,0.0000,0.0000
604,1963,China Hong Kong SAR,0.2043,0.0671,0.3836,101.6390,385.5095,10.1383,283.8705,0.0000,0.0000
884,1964,China Hong Kong SAR,0.1774,0.0569,0.3236,85.7543,335.3512,8.9141,249.5968,0.0000,0.0000
1164,1965,China Hong Kong SAR,0.1561,0.0495,0.2778,73.6361,292.8064,7.8276,219.1703,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...
15724,2017,China Hong Kong SAR,0.1056,0.0356,9.2469,2450.4632,179757.0130,854.9895,23939.7086,151807.1750,1559.6661
16004,2018,China Hong Kong SAR,0.1060,0.0359,9.0373,2394.9167,181130.6963,861.2043,24113.7145,153009.9244,1612.1409
16284,2019,China Hong Kong SAR,0.1080,0.0364,9.4415,2502.0414,171017.4796,861.0930,24110.5929,142743.1449,1661.7003
16564,2020,China Hong Kong SAR,0.1052,0.0356,9.4693,2509.3485,133213.0614,866.5755,24264.1096,104725.4284,1714.1751
16844,2021,China Hong Kong SAR,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [10]:
emi.to_csv("emissions_final.csv", index = False)